<h1>Tasks</h1>
<hr>

<% if @tasks.empty? %>
    <span> There are no tasks! </span>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th><th>Created At</th><th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <%- @tasks.each do |task| -%>
      <tr>
        <td><%= task.title %></td><td><%= task.created_at %></td><td><%= task.completed %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<a href="/tasks/new">New Task.</a>
