<!DOCTYPE html>
<html>
<head>
  <title>RailsHello</title>
<%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section>
    <header>
      <h1>Rails Tasks</h1>
    </header>
  </section>
<%= yield %>

</body>
</html>
